
.dashboard{
display: flex;
flex-direction: column;
justify-content: left;
align-items: left;
padding: 20px;
/* margin-top: 100px; */
margin-left: auto;
margin-right: auto;
max-width: 100%;
/* max-width: 30%; */
border-radius: 0px;
overflow-y: auto;
background-color: hwb(207 35% 31% / 0.89);
min-height: 100vh;

}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .title {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #e9eaec;
    align-items: left;
    text-align: left;
  }
  
  .dash {
    font-size: 34px;
    font-weight: bold;
    margin: 10px 0;
    color: #fff;
  } 
  
  p1 {
    margin: 5px 0;
    color: #e9eaec;
  }
  
  a {
    color: #007bff;
  
  }
  
 
  
  .dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  


  
  .user-profile {
    border: 5px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .title-head {
    font-weight: bold;
    color: #e9eaec;
  }
 
  .analytics {
    border: 5px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .totalclicks{
    color: #e9eaec;
  }
  
  
  .shorten-url {
    margin-bottom: 20px;
  }
  
  .link-url {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
  }
 
  
  .url-list {
    /* border: 1px solid #ccc; */
    padding: 10px;
  }
  
  .ul-list {
    list-style: none;
    padding: 0;
  }
  
  .li-list {
    margin-bottom: 20px;
  }
  
  li div {
    display: flex;
    flex-direction: column;
  }
  
  li p {
    margin: 5px 0;
  }
  
  li a {
    color: #007bff;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  li span {
    font-weight: bold;
  }

  
  .qr-code {
    margin-top: 10px;
  }

  @media (max-width: 600px) {
    .dashboard-container {
      padding: 10px;
    }
  }
  
  @media (max-width: 400px) {
    .link-url {
      font-size: 14px;
    }
  }
  