body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  h4 {
    font-size: 24px;
    font-weight: bold;
    margin: 20px 0;
    color: #ff7b00;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0;
  } */
  
  p {
    margin: 5px 0;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
  }
  
  /* Dashboard Container */
  
  .dashboard-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* User Profile */
  
  .user-profile {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  .title-head {
    font-weight: bold;
  }
  
  /* Analytics */
  
  .analytics {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Shorten URL */
  
  .shorten-url {
    margin-bottom: 20px;
  }
  
  .link-url {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border-radius: 4px;
    text-decoration: none;
  }
  
  /* URL List */
  
  .url-list {
    border: 1px solid #ccc;
    padding: 10px;
  }
  
  .ul-list {
    list-style: none;
    padding: 0;
  }
  
  .li-list {
    margin-bottom: 20px;
  }
  
  li div {
    display: flex;
    flex-direction: column;
  }
  
  li p {
    margin: 5px 0;
  }
  
  li a {
    color: #007bff;
  }
  
  li a:hover {
    text-decoration: underline;
  }
  
  li span {
    font-weight: bold;
  }
  
  /* QR Code */
  
  .qr-code {
    margin-top: 10px;
  }
  
  /* Responsive Styles */
  
  @media (max-width: 600px) {
    .dashboard-container {
      padding: 10px;
    }
  }
  
  @media (max-width: 400px) {
    .link-url {
      font-size: 14px;
    }
  }
  