
  .btn-primary:hover {
    background-color: #005eff;
    width: 80%;
  }
  
  .messg {
    color: red;
    margin-bottom: 10px;
  }
  
  .flash-message2 {
    color: green;
    margin-bottom: 10px;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-size: 20px;
    font-weight: bold;
  }
  

.container-home {
  text-align: center;
  
  background-color: #FFFFFF;
  justify-content: center;
  
  margin-bottom: 70%;
  max-width: 100%;
  border-radius: 0;

}

.head {
  
  width:100%;
  
  font-size: 2.8rem;

   background-color: #0056b3;
   color: #fff;
   text-align: center;

}

.link{
  color: #ff7b00;
}

img {
  margin-right: 10%; 
 
  max-height: 37.4vh;
}



.btn-primary {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 1.2rem;
  text-decoration: none;
  display: block;
  margin: 30px auto;
  max-width: 500px; 
}

.btn-primary:hover {
  background-color: #0056b3;
} 


.content {
  font-size: 16px;
  text-align: center;
  margin-bottom: 30px;
  color: #666; 
}

.images-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.images-container img {
  width: 45%; 
  max-width: 100%;
  border-radius: 8px;
}

.btn-primary {
  display: block;
  width: 200px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 768px) {
 
  .head {
    font-size: 20px;
    margin-top: 20px;
  }

  .content {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .btn-primary {
    width: 160px;
  }

  .images-container {
    flex-direction: column;
  }

  .images-container img {
    width: 100%;
    margin-bottom: 10px;
  }
}
