/* .navbar {
    background-color: #f1f3f7;
   
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f72323;
  }
  
  .navbar-brand:hover {
    color: #201c1c;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }

 
  .nav-link {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  
  .nav-item.active .nav-link {
    color: #423e3e;
    font-weight: bold;
  }
  
  .navbar-nav {
    align-items: center;
    color: #0a0505;
  }
  
  .navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
  }
  
  @media (max-width: 768px) {
    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
  
  @media (max-width: 576px) {
    .navbar-brand {
      font-size: 1.2rem;
    }
  
    .navbar-nav .nav-link {
      font-size: 0.9rem;
    }
  }
   */



   .navbar {
    background-color: #f1f3f7;
    justify-content: space-between;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: #f72323;
  }
  
  .navbar-brand:hover {
    color: #201c1c;
    text-align: justify;
  }
  
  .navbar-toggler {
    border: none;
  }
  
  .navbar-toggler:focus {
    outline: none;
  }
  
  .nav-link {
    font-size: 1rem;
    color: #ffffff;
  }
  
  .nav-link:hover {
    color: #ffffff;
  }
  
  .nav-item.active .nav-link {
    color: #423e3e;
    font-weight: bold;
  }
  
  .navbar-nav {
    align-items: center;
    color: #0a0505;
  }
  
  .navbar-nav .nav-item + .nav-item {
    margin-left: 1rem;
  }
  
  @media (max-width: 768px) {
    .navbar-nav .nav-item + .nav-item {
      margin-left: 0;
      margin-top: 0.5rem;
    }
  }
  
  @media (max-width: 576px) {
    .navbar-brand {
      font-size: 1.2rem;
    }
  
    .navbar-nav .nav-link {
      font-size: 0.9rem;
    }
  }
  