/* register.css */
body {
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #2196F3;
    margin-bottom: 200px;

    max-width: 100%;
    border-radius: 0;
    overflow-y: auto;
    /* background-color: #2196F3; */
    min-height: 100vh;

  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    padding: 50px;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin-top: 30px;
    margin-bottom: 400px;
    min-height: 100vh;
  }


  
  .flash-message2 {
    margin-bottom: 10px;
    text-align: center;
    color: #ff0000;
  }
  
  .signup {
    /* font-size: 40px; */
    /* margin-bottom: 10px; */
    text-align: center;
    color: #2196F3;
  }

  h4 {
    font-size: 18px;
    text-align: center;
    padding-left: 10px;
    /* background-color: black; */
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    font-weight: bold;
  }
  
  .form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .btn-success {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #2196F3;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    /* Styles for smaller screens */
    .form {
      padding: 10px;
    }
  
    h2 {
      font-size: 20px;
    }

    h4 {
        font-size: 10px;
      }
  }
  