/* Common styles for all devices */
.contain {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 100%;
  border-radius: 0px;
  overflow-y: auto;
  background-color: hwb(207 35% 31% / 0.89);
  min-height: 100vh;
}

.formy {
  width: 70%;
  background-color: hwb(207 35% 31% / 0.89);
  margin: 0px 0px 100px;
  border-radius: 15px;
  text-align: left;
  /* margin-left: 10%; */
  max-height: 15vh;
  color: #FFFFFF;
}

img {
  margin-right: 10%;
  display: flex;
  /* max-height: 37.4vh; */
}

.messg {
  color: hwb(207 35% 31% / 0.89);
  padding: 10px;
}

.flash-message2 {
  color: #f50f0f;
}

.details {
  width: 100%;
  max-width: 400px;
  color: white;
  margin-right: 10%;
  background-color: hwb(207 35% 31% / 0.89);
  max-height: 30vh;
  margin-bottom: 300px;
}

.form-group1 {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 4px;
}

p {
  margin: 5px 0;
}

button[type="submit"] {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.qrcode {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  /* max-height: 30vh; */
}

.b2d-div {
  text-align: center;
  margin-top: 20px;
}

.b2d {
  color: hwb(207 35% 31% / 0.89);
  text-decoration: none;
  font-weight: bold;
}


.copy-button {
  margin-top: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px;
  cursor: pointer;
}

.copy-button:hover {
  background-color: #0069d9;
}

.copy-button:focus {
  outline: none;
  box-shadow: 0 0 0 0.2rem rgba(2, 53, 107, 0.5);
}


/* Media Queries for Responsive Styles */

/* Small devices (up to 767px) */
@media (max-width: 767px) {
  .contain {
    flex-direction: column;
    padding: 30px;
  }

  .formy {
    width: 90%;
    margin-left: 5%;
  }

  img {
    margin-right: 0;
    max-height: 200px;
  }
}

/* Medium devices (768px - 991px) */
@media (min-width: 768px) and (max-width: 991px) {
  .formy {
    width: 60%;
    margin-left: 20%;
  }
}

/* Large devices (992px and above) */
@media (min-width: 992px) {
  .formy {
    width: 50%;
    margin-left: 25%;
  }
}
